@model CreateMessageDto
<section class="book_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Bize Ulaşın
            </h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form_container">
                    <form method="post" asp-controller="Default" asp-action="SendMessage">
                        <div>
                            <input type="text" class="form-control" placeholder="Ad Soyad" asp-for="NameSurname"/>
                        </div>
                        <div>
                            <input type="text" class="form-control" placeholder="Telefon Numaranız" asp-for="Phone" />
                        </div>
                        <div>
                            <input type="email" class="form-control" placeholder="Mail Adresiniz" asp-for="Mail" />
                        </div>
                        <div>
                            <select class="form-control nice-select wide" asp-for="Subject">
                                <option value="" disabled selected>
                                    Konu Seçiniz
                                </option>
                                <option value="Teşekkür">Teşekkür</option>
                                <option value="Öneri">Öneri</option>
                                <option value="Şikayet">Şikayet</option>
                            </select>
                        </div>
                        <div>
                            <textarea class="form-control" placeholder="Buraya mesajınızı yazabilirsiniz"  rows="4" asp-for="MessageContent"></textarea>
                        </div>
                        <div class="btn_box">
                            <button>
                                Mesajı Gönder
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="map_container ">
                    <div id="googleMap"></div>
                </div>
            </div>
        </div>
    </div>
</section>