@model List<ResultTestimonialDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}


<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Referans Yorum İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Referans Yorum Listesi</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">Müşterilerin yaptığı yorumlarla ilgili işlemleri buradan yapabilirsiniz.</div>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Ad Soyad</th>
                                    <th scope="col">Durum</th>
                                    <th scope="col">Sil</th>
                                    <th scope="col">Güncelle</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <td>@count</td>
                                        <td>@item.Name</td>
                                        <td>
                                            @if (item.Status != false)
                                            {
                                                <span class="badge badge-success">Aktif</span>
                                            }
                                            else
                                            {
                                                <span class="badge badge-danger">Pasif</span>
                                            }
                                        </td>
                                        <td><a href="/Testimonial/DeleteTestimonial/@item.TestimonialID" class="btn btn-danger">Sil</a></td>
                                        <td><a href="/Testimonial/UpdateTestimonial/@item.TestimonialID" class="btn btn-primary">Güncelle</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <br />
                        <a href="/Testimonial/CreateTestimonial/" class="btn btn-default">Yeni Müşteri Yorumu Ekle</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



