@{
    Layout = null;
}

@* UI Layout *@
<!DOCTYPE html>
<html>

<vc:_ui-layout-head-component-partial />

<body>


    @RenderBody()


    <vc:_ui-layout-footer-component-partial />

    <vc:_ui-layout-script-component-partial />

</body>

</html>