@model UpdateProductDto
@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Ürün İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post" asp-controller="Product" asp-action="UpdateProduct">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Yeni Ürün</div>
                        </div>
                        <div class="card-body">
                            <input type="hidden" asp-for="ProductID" />
                            <div class="form-group">
                                <label>Ürün Adı</label>
                                <input type="text" class="form-control" asp-for="ProductName">
                            </div>
                            <div class="form-group">
                                <label>Kategori</label>
                                <select class="form-control" asp-for="CategoryID" asp-items="@ViewBag.Category">
                                    <option>Lütfen bir kategori seçiniz</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Açıklama</label>
                                <textarea class="form-control" asp-for="Description" rows="4"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Fiyat</label>
                                <input type="text" class="form-control" asp-for="Price">
                            </div>
                            <div class="form-group">
                                <label>Resim</label>
                                <input type="text" class="form-control" asp-for="ImageUrl">
                            </div>
                            <div class="form-check">
                                <label>Durum</label><br />
                                <label class="form-radio-label">
                                    <input class="form-radio-input" type="radio" asp-for="ProductStatus" value="True" checked="">
                                    <span class="form-radio-sign">True</span>
                                </label>
                                <label class="form-radio-label ml-3">
                                    <input class="form-radio-input" type="radio" asp-for="ProductStatus" value="False">
                                    <span class="form-radio-sign">False</span>
                                </label>
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-success">Ürünü Güncelle</button>
                            <a href="/Product/Index/" class="btn btn-danger">İptal</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


